auth_enabled: false

server:
  http_listen_port: {{ grafana_loki_http_port }}
  http_tls_config:
    cert_file: /etc/loki/cert.file
    key_file: /etc/loki/cert.key

  grpc_listen_port: {{ grafana_loki_grpc_port }}
  grpc_tls_config:
    cert_file: /etc/loki/cert.file
    key_file: /etc/loki/cert.key

common:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory
  replication_factor: 1

storage_config:
  filesystem:
    directory: {{ grafana_loki_local_path }}

schema_config:
  configs:
    - from: 2024-08-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

compactor:
  retention_enabled: true
  delete_request_store: filesystem

limits_config:
  retention_period: {{ grafana_loki_log_retention }}
