server:
  http_listen_port: {{ grafana_tempo_http_port }}
  http_tls_config:
    cert_file: /etc/tempo/cert.file
    cert_key: /etc/tempo/cert.key

  grpc_listen_port: {{ grafana_tempo_grpc_port }}
  grpc_tls_config:
    cert_file: /etc/tempo/cert.file
    cert_key: /etc/tempo/cert.key

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

compacter:
  compaction:
    block_retention: {{ grafana_tempo_block_retention }}

storage:
  trace:
    backend: local
    local:
      path: {{ grafana_tempo_local_path }}
